<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.category">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hometalktodoctor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userdetailsforiegn" />
        <activity android:name=".channeltalktodoctor" />
        <activity android:name=".schedule" />
        <activity android:name=".paymentMethod" />
        <activity android:name=".paymenttalktodoctor" />
        <activity android:name=".userdetails" />
        <activity android:name=".paymentsummarypopup" />
        <activity android:name=".doctorpopup" />
        <activity android:name=".maintalktodoctor">

        </activity>
    </application>

</manifest>